body{
    background-color: white;
}

h1{
    color: #39607a;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size:120px;
    
}
p{
    color:#39607a;
    text-align:center;
    font-size:30px;
    font-family: 'Josefin Sans', sans-serif;
}