body{
     background-color: white;
}
h1{
    text-align:center;
    color:#39607a;
    font-size:120px;
    font-family: 'Josefin Sans', sans-serif;
   
}
p{
    color:#39607a;
    font-size:50px;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
}
p1{
    color:#39607a;
    font-size:30px;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
}

