body{
    background:linear-gradient(pink, #42f4f4);
}
h3{
    color:white;
    font-size:120px;
    text-shadow: 2px 2px #42f4f4;
    border:15px solid pink;
}
p{
    color:white;
    font-size:40px;
}