body{
    background-color: white;
}
h3{
    color:#39607a;
    font-size:120px;
    
    border:15px #dcdfe5;
    font-family: 'Josefin Sans', sans-serif;
    text-align:center;
}
p{
    color:#39607a;
    font-size:40px;
    font-family: 'Josefin Sans', sans-serif;
}
